body {
	background-color: #DDDDDD;
}

.body {
	/*background-color: #FFFF00;*/
	margin-top: 60px;
}

.attrLabel {
	cursor: pointer;
}

.attribute {
	/*background-color: blue;*/
	height: 40px;
	width: 40px;
	border-radius: 10px;
	cursor: pointer;
	opacity: 0.6;
}

.attributeImg {
	height: 50px;;
	width: 50px;
	margin: 10px;
	border-radius: 7px;
	/*opacity: 0.6;*/
}

.attrChoosed {
	border-style:solid;
	border-color: red;
	border-width: 3;
}

/*属性一级列表*/
.attrNavigationList {
	border-bottom-style: inset;
	border-bottom-color: yellow;
	border-bottom-width: 5;
}

.birdBox {
	height: 260px;
	overflow: hidden;
}

.detailAttr {
	font-weight: bold;
	border-left-color: green;
	border-left-width: 5px;
	border-left-style: solid;
	padding-left: 10px;
	margin-bottom: 5px;
}

.description {
	padding-left: 15px;
}
