body {
	background-color: #DDDDDD;
}

.body {
	/*background-color: #FFFF00;*/
	margin-top: 60px;
}

.attrLabel {
	cursor: pointer;
}

.attribute {
	/*background-color: blue;*/
	height: 40px;
	width: 40px;
	border-radius: 10px;
	cursor: pointer;
}

.attributeImg {
	height: 40px;;
	width: 40px;
}

.attrChoosed {
	border-style:solid;
	border-color: red;
	border-width: 3;
}

/*属性一级列表*/
.attrNavigationList {
	border-bottom-style: inset;
	border-bottom-color: yellow;
	border-bottom-width: 5;
}

.birdBox {
	height: 260px;
	overflow: hidden;
}